[package]
name = "renfe-cli"
version = "4.0.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "renfe_cli"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.20", features = ["abi3-py37"] }
anyhow = "1.0"
headless_chrome = { version = "1.0", features = ["fetch"] }
image = "0.24"
viuer = "0.7"
scraper = "0.18"
